.chat-side
  .side-header
    .side-header-box
      .side-header-box__user
        = current_user.name
      .side-header-box__menu
        .side-header-box__menu__edit
          =link_to "#" do
            %i.fa.fa-edit
        .side-header-box__menu__setting
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
  .group
    .group__group-name1
      test1
    .group__group-message1
      まだメッセージはありません
    .group__group-name2
      test2
    .group__group-message2
      まだメッセージはありません